

.breadcrumb {
    margin-top: 15px;
    border: 2px solid gray;
    padding: 10px ;
    border-radius: 10px;
    border-left: 10px solid #F7462E;
}
.breadcrumb a{
    text-decoration: none;
    color: black;
}

.breadcrumb a:hover{
    color: #F7462E;
}   


/* Style the form container */
.container {
    margin-top: 20px;
}

/* Style the search form */
.form-inline {
    display: flex;
    margin-left: 900px;
    margin-bottom: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px;
}

/* Style the search input */
.form-control {
    flex: 1;
    margin-right: 10px;
}

/* Style the search button */
.fa {
    flex-basis: auto;
    margin-left: 5px;
    padding: 0px 10px;
    border-radius: 10px;
    background-color: #F7462E;
}

/* Style the table */
table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: rgb(203, 196, 196);
    color: black;
    text-align: center;
}

.btn-group{
    margin-left: 30px;
}
.btn{
    padding: 7px 10px;
}

